section#detalhes-pastel{
    img {
        float: right;
    }
    .info-pastel{
        p {
            text-align: left;

            strong{
                font-weight: bold;
            }
        }
    }
}