form#formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .form-group{
        label{
            float: left;
        }
    }

    button {
        float: left;
        margin: 10px 0;
    }

}

section#cadastrar-cliente{
    max-width: 1200px;
    margin: 0 auto;

    .erros{
        float: left;
    }
}
